@page "/baiviettheochuyenmuc/{categoryId:long}"
@using CmsWebsite.Client.Blazor.Services.Article;
@using CmsWebsite.Client.Blazor.Services.Category;
@using CmsWebsite.Share.Models.Article;
@using CmsWebsite.Share.Models.Category;

@inject ICategoryService CategoryService
@inject IArticleService ArticleService

<h3 style="color: #ffae11;">@categories.CategoryName.ToUpper()</h3>
<RadzenDataList WrapItems="true" AllowPaging="true" PageSize="10" Data="@listArticle" TItem="ArticleDTO">
    <Template Context="article">
        <RadzenCard Style="display: flex; width: 100%; padding: 15px; overflow: hidden;">
            <a href="/chitietbaiviet/@article.ArticleID">
                <img src=@article.ImageFile style="object-fit: cover; width: 220px; height: 145px;" />
            </a>
            <div style="margin-left: 10px; overflow: hidden;">
                <a style="color: #000; font-size: 18px; font-weight: 700; text-decoration: none;" href="/chitietbaiviet/@article.ArticleID" onMouseOver="this.style.color='#CC0001'"
                   onMouseOut="this.style.color='#000'">
                    @article.Title
                </a>
                <p style="color: #999; font-size: 13px; ">@article.CreatedDate</p>
                <p style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4">@article.Description</p>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>

@code {
    [Parameter]
    public long categoryId { set; get; }

    public List<ArticleDTO> listArticle { set; get; }

    public CategoryDTO categories { set; get; }

    protected async override Task OnParametersSetAsync()
    {
        categories = await CategoryService.GetCategory(categoryId);
        listArticle = await ArticleService.GetListArticleCategoryByCategoryId(categoryId);
    }
}
