@page "/chitietbaiviet/{articleId:long}"
@using CmsWebsite.Client.Blazor.Services.Article
@using CmsWebsite.Share.Models.Article
@inject IArticleService _articleService
@inject NavigationManager MyNavigationManager
@inherits LayoutComponentBase

@if (article != null)
{
    <div class="container">
        <div class="col align-self-center">
            <div class="m-0 d-flex align-items-center">
                <span>Tác giả: @article.Author</span>
                &nbsp;&nbsp;&nbsp
                <div class="d-flex"><RadzenIcon Icon="today" Style="color:#e35d5dd9" /><span class="ms-1">@article.CreatedDate.ToString("dd/MM/yyyy HH:mm")</span></div>
                &nbsp;&nbsp;&nbsp
                <button type="button" class="btn d-flex" style="font-size:14px"><RadzenIcon Icon="favorite_border" Style="color:blue" /><span class="ms-1">Thích</span></button>
                &nbsp;&nbsp;&nbsp
                <a class="d-flex text-decoration-none text-reset" style="font-size:14px;" href="https://www.facebook.com/sharer/sharer.php?p[url]=@MyNavigationManager.Uri">
                    <RadzenIcon Icon="share" />
                    <span class="ms-1">Chia sẻ Facebook</span>
                </a>
            </div>
            <RadzenPanel>
                <HeaderTemplate>
                    <div class="col align-self-center">
                        <p style="text-transform: uppercase;font-size:30px">@(article.Title)</p>
                        <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                        <b> @article.Description </b>
                    </div>

                </HeaderTemplate>
                <ChildContent>
                    <div style="max-width: 100%">@((MarkupString)article.SummaryArticle)</div>
                </ChildContent>
            </RadzenPanel>
        </div>
    </div>
}

    
@code {
    [Parameter]
    public long articleId { set; get; }

    private ArticleDTO article { get; set; } = new ArticleDTO();

    protected async override Task OnParametersSetAsync()
    {
        article = await _articleService.GetArticle(articleId);

    }
}
