@page "/chitietbaiviet/{articleId:long}"
@using CmsWebsite.Client.Blazor.Services.Article
@using CmsWebsite.Share.Models.Article
@inject IArticleService _articleService
@inject NavigationManager MyNavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JSRuntime
@inherits LayoutComponentBase

@if (article != null)
{
    <div class="container">
        <div class="col align-self-center">
            <div class="m-0 d-flex align-items-center">
                <span>Tác giả: @article.Author</span>
                &nbsp;&nbsp;&nbsp
                <div class="d-flex"><RadzenIcon Icon="today" Style="color:#e35d5dd9" /><span class="ms-1">@article.CreatedDate.ToString("dd/MM/yyyy HH:mm")</span></div>
                &nbsp;&nbsp;&nbsp
                @* <button type="button" @onclick="handleLike" class="btn d-flex" style="font-size:14px"><RadzenIcon Icon="favorite_border" Style="color: #f92f60;" /><span class="ms-1">Thích @currentLike</span></button> *@
                @if (checkLike == false)
                {
                    <button type="button" @onclick="handleLike" class="btn d-flex text-reset" style="font-size:14px"><RadzenIcon Icon="favorite_border" Style="color: #f92f60;" /><span class="ms-1">Thích @currentLike</span></button>
                }
                else
                {
                    <button type="button" @onclick="handleLike" class="btn d-flex text-reset" style="font-size:14px"><RadzenIcon Icon="favorite" Style="color: #f92f60;" /><span class="ms-1">Thích @currentLike</span></button>
                }
               &nbsp;&nbsp;&nbsp
                <button class="btn d-flex text-decoration-none text-reset" style="font-size:14px" onclick="window.open('https://www.facebook.com/sharer/sharer.php?p[url]=@MyNavigationManager.Uri', '_blank')">
                    <RadzenIcon Icon="facebook" Style="color:darkblue" />
                    <span class="ms-1">Chia sẻ Facebook</span>
                </button>
                &nbsp;&nbsp;&nbsp
                <button class="btn d-flex zalo-share-button text-reset" style="font-size:14px;" data-href="@MyNavigationManager.Uri" data-oaid="3853758560685742933" data-layout="icon-text" data-customize=true>
                    <img src="img/zalo-icon.png" alt="Zalo" width="20" height="20">
                    <span class="ms-1">Chia sẻ Zalo</span>
                </button>
            </div>
            <RadzenPanel>
                <HeaderTemplate>
                    <div class="col align-self-center">
                        <p style="text-transform: uppercase;font-size:30px">@(article.Title)</p>
                        <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                        <b> @article.Description </b>
                    </div>

                </HeaderTemplate>
                <ChildContent>
                    <div class="text-reset" style="max-width: 100%">@((MarkupString)article.SummaryArticle)</div>
                    @if (article.Video != null)
                    {
                        <div style="width: 100%; padding-top: 56.25%; height: 0px; position: relative;">
                            <video controls style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
                                <source id="videoArticle" src="@article.Video" type="video/mp4">not supported.
                            </video>
                        </div>
                    }
                </ChildContent>
            </RadzenPanel>
        </div>
    </div>
}

@code {
    [Parameter]
    public int currentLike { get; set;}
    private bool checkLike;
    private async void handleLike()
    {
        if (checkLike == false)
        {
            currentLike++;
            checkLike = true;
            await _articleService.LikeArticle(articleId, true);
        }
        else
        {
            currentLike--;
            checkLike = false;
            await _articleService.LikeArticle(articleId, false);
        }
    }
    protected override async Task OnInitializedAsync()
    {
    }

    [Parameter]
    public long articleId { set; get; }

    private ArticleDTO article { get; set; } = new ArticleDTO();

    protected async override Task OnParametersSetAsync()
    {
        article = await _articleService.GetArticle(articleId);
        currentLike = article.Like;
        await JSRuntime.InvokeVoidAsync("loadZaloDSK");
    }
}
