@using CmsWebsite.Client.Blazor.Services.Category
@using CmsWebsite.Client.Blazor.Services.Article
@using CmsWebsite.Share.Models.Category;
@using CmsWebsite.Share.Models.Article
@inject ICategoryService _clientCategory
@inject IArticleService _clientArticle
@inject NavigationManager uriHelper


@if (listArticle != null)
{
    <RadzenCard Style="width: 100%;" class="m-1">
        <div class="row">
            <div class="col-md-8">

                <RadzenImage Path=@listArticle[0].ImageFile Style="width:100%;height:70%" />

                <label class="m-2" style="font-weight:700;font-size:22px">@listArticle[0].Title</label>
                <p class="wrapper-p mr-2">@listArticle[0].Description</p>

            </div>

            <div class="col-md-4">
                <RadzenImage Path=@listArticle[1].ImageFile Style="width: 100%;" class="rounded" />
               
                    <span class="wrapper-p">@listArticle[1].Title</span>
                    @for (var i = 2; i < 4; i++) // LẤY 4 BÀI VIẾT TIẾP THEO
                    {
                        <hr />
                        <span class="wrapper-p">@listArticle[i].Title</span>
                    }
                
            </div>
        </div>
    </RadzenCard>
}
else
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    @*<ShimmerLoading></ShimmerLoading>*@

}

@if (_listArticleGetByAbbreviation != null)
{
    <RadzenCard Style="width: 100%;" class="m-1">

        <div class="row wrapper">
            @*@_category.CategoryName*@
            <span class="tag">@_category.CategoryName</span>
            <div class="col-md-7">
                <RadzenImage Path=@_listArticleGetByAbbreviation[0].ImageFile Style="width:100%;height:60%;" />
                <label class="m-2" style="font-weight:700;font-size:22px">@_listArticleGetByAbbreviation[0].Title</label>
            </div>
            
            <div class="col-md-5 ">
                @foreach (var item in _listArticleGetByAbbreviation)
                {
                     <RadzenCard class="m-1">
                        <span @onclick="() => EditRow(item.ArticleID)"> 
                            
                            <div style="float:left"><img src="@item.ImageFile" class="rounded  mr-2" style="width: 95px; height: 80px;"> </div>
                            <div > <span class="wrapper-p" style="font-size:13px">@item.Description</span> </div>
                            
                        </span>
                    </RadzenCard>
                }

            </div>
        </div>
    </RadzenCard>
}



@code {

    [Parameter]
    public List<ArticleDTO>? listArticle { get; set; }

    public List<ArticleDTO>? _listArticleGetByAbbreviation = null;

    public CategoryDTO _category = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var list = await _clientCategory.GetListCategory();
            await ArticleGetByAbbreviation("0a858018-d08f-41a6-9e59-591b8bd9752e");
        }
        catch (Exception ex)
        {

        }
    }


    public async Task ArticleGetByAbbreviation(string Abbreviation)
    {
        try
        {
            var list = await _clientCategory.GetListCategory();
            _category = list.Where(i => i.Abbreviation == Abbreviation).FirstOrDefault();
            _listArticleGetByAbbreviation = await _clientArticle.GetListArticleCategoryByCategoryId(_category.CategoryId);
        }
        catch (Exception ex)
        {

        }

    }

    protected void EditRow(long id) => uriHelper.NavigateTo($"chitietbaiviet/{id}");

}
