@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IAuthService auth
@inject IArticleService _client
@inject NavigationManager uriHelper
@inject IJSRuntime JSRuntime
@using CmsWebsite.Client.Blazor.Services.Article
@using CmsWebsite.Share.Models.Article
@using CmsWebsite.Client.Blazor.Pages.Components;


<link href="css/radzen/@(currentTheme).css" rel="stylesheet" />
<div class="page">
    <RadzenDialog />
    <RadzenNotification />

    <AuthorizeView>
        <Authorized>
            <div class="col-md-2 sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="col-md-@col">

        <div class="top-row">
            <div class="col-md-3">
                <a href="/" style="text-decoration: none;">
                    <div class="row">
                        <div class="col-md-3"> 
                            <RadzenImage Path="/img/logo.png" style="width:70px" /> 
                        </div>
                        <div class="col-md-7 offset-md-2">
                            <span style="color:red; font-weight:700;font-size:16px">MẬT TRẬN TỔ QUỐC VIỆT NAM</span>
                            <br>
                            <span style="color:red; font-size:12px">TRANG THÔNG TIN ĐIỆN TỬ</span>
                            <br />
                            @DayOfWeek(), @DateTime.Now.ToString("dd/MM/yyy")
                        </div>
                    </div>
                </a>
            </div> 
            <div class="col-md-5 offset-md-2 icons-wrapper d-flex">
                @*<button type="button" class="btn d-flex" style="font-size:14px"><RadzenIcon Icon="facebook" /><span class="ms-1">Facebook</span></button>*@
                <button type="button" class="btn d-flex" style="font-size:14px"><RadzenIcon Icon="call" Style="color:green" /><span class="ms-1">(025 111 222)</span></button>
                <button type="button" class="btn d-flex" style="font-size:14px"><RadzenIcon Icon="mark_email_read" Style="color:red" /><span class="ms-1">Email</span></button>
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="col-md-2">
                        <NavLink class="nav-link" href="logout" style="float:right">
                            Xin chào @context.User.Identity.Name !  Thoát <span class="oi oi-power-standby"></span>
                        </NavLink>
                    </div>
                </Authorized>
                @* <NotAuthorized>
                <NavLink class="nav-link" href="login" style="float:right" title="Đăng nhập quản trị">
                <RadzenIcon Icon="manage_accounts" />
                </NavLink>
                </NotAuthorized>*@
            </AuthorizeView>

        </div>

        <AuthorizeView>
            <NotAuthorized>

                <RadzenMenu Style="width:100%">
                    <RadzenMenuItem Icon="home" Path="/"></RadzenMenuItem>

                    <RadzenMenuItem Text="Giới thiệu">
                        <RadzenMenuItem Text="Giới thiệu chung" Path="counter">
                        </RadzenMenuItem>
                        <RadzenMenuItem Text="Các kỳ đại hội" Path="">
                        </RadzenMenuItem>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Hoạt động mặt trận">
                        <RadzenMenuItem Text="Tin hoạt động" Path="">
                        </RadzenMenuItem>
                        <RadzenMenuItem Text="Hoạt động mật trận địa phương" Path="">
                        </RadzenMenuItem>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Giám sát & phản biện"></RadzenMenuItem>
                    <RadzenMenuItem Text="Dân tộc - tôn giáo"></RadzenMenuItem>
                    <RadzenMenuItem Text="Đối ngoại kiều bào"></RadzenMenuItem>
                    <RadzenIcon Icon="menu" @onmouseover="ShowMenu"/>
                </RadzenMenu>
                <RadzenCard Style="@(isMenu == false ? "display: none;" : "width: 100%; position: absolute; z-index: 1; width: 97%; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);")" @onmouseover="ShowMenu" @onmouseout="HideMenu">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <b>TẤT CẢ CHUYÊN MỤC</b>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/" style="color:red">Giới thiệu</a></td>
                                    <td style="color:red">Tin tổng hợp</td>
                                    <td style="color:red">Tin hoạt động</td>
                                </tr>
                                <tr>
                                    <td>Chương trình phối hợp</td>
                                    <td>Văn bản hướng dẫn</td>
                                    <td>Thành đoàn</td>
                                </tr>
                                <tr>
                                    <td>Đối ngoại kiều bào</td>
                                    <td>Dân tộc - tôn giáo</td>
                                    <td>Thư viện ảnh</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </RadzenCard>

            </NotAuthorized>
        </AuthorizeView>

        <div class="content">
            @Body
        </div>

    </div>

    <AuthorizeView>
        <NotAuthorized>
            <div class="col-md-3 my-2">
                @*<RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Warning" Click=@(args => ChangeThem())>
                    <RadzenIcon Icon="@modeTheme" />
                </RadzenButton>*@
                <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Warning" Click=@(arg => uriHelper.NavigateTo("components/guibanbientap"))>
                    <RadzenIcon Icon="forward_to_inbox" />
                </RadzenButton>
                <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Warning" Click=@OnSearch>
                    <RadzenIcon Icon="search" />
                </RadzenButton>
                <RadzenTextBox Style="@(isSearch == false ? "position: absolute; top: -9999px;" : "position: absolute; z-index: 1; top: 0; width: 268px;")" id="txtSearch" Change=@OnInput class="form-control" Placeholder="Tìm kiếm thông tin" @onblur="LostFocus" />
                
                <LienKetWebsite></LienKetWebsite>
                <DanhSachMatTran></DanhSachMatTran>
                <VanBanPhapLuat></VanBanPhapLuat>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</div>
<Footer></Footer>

@functions {
    bool isSearch = false;
    bool isMenu = false;
    int col = 10;
    string currentTheme = "standard";
    string modeTheme = "dark_mode";

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected List<ArticleDTO> articles { get; set; }
    protected override async Task OnInitializedAsync()
    {
        articles = await _client.GetListArticle();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            col = 9;
        }
    }
    void ChangeThem()
    {
        if (currentTheme == "material")

        {
            currentTheme = "standard";
            modeTheme = "dark_mode";
        }
        else
        {
            currentTheme = "material";
            modeTheme = "light_mode";

        }

    }
    private string DayOfWeek()
    {
        int day = (int)DateTime.Now.DayOfWeek;
        switch (day)
        {
            case 1:
                return "Thứ hai";
            case 2:
                return "Thứ ba";
            case 3:
                return "Thứ tư";
            case 4:
                return "Thứ năm";
            case 5:
                return "Thứ sáu";
            case 6:
                return "Thứ bảy";
            default:
                return "Chủ nhật";

        }
    }
    async Task OnSearch()
    {
        isSearch = true;
        await JSRuntime.InvokeVoidAsync("focusSearch");
    }
    void OnInput(string value)
    {
        uriHelper.NavigateTo($"/danhsachtimkiem/{value}");
        isSearch = false;
    }
    void LostFocus() => isSearch = false;
    void ShowMenu() => isMenu = true;
    void HideMenu() => isMenu = false;
}