@page "/article/edit/{articleId:long}"
@using CmsWebsite.Share.Models.Article
@using System.Text.Json

@inject CmsWebsite.Client.Blazor.Services.IArticleService _client
@inject NavigationManager uriHelper
<h3>Edit Article</h3>

<RadzenTemplateForm TItem="Article" Data="@article" Submit=@UpdateArticle>


    <div class="row">
        <RadzenFieldset>
            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Component="ImageFile" Text="ImageFile" />
                </div>
                <div class="col-md-9">
                    <RadzenFileInput TValue="string" @bind-Value="@article.ImageFile" Class="w-100" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Component="Title" Text="Title" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox Name="Title" @bind-Value="@article.Title" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Component="Description" Text="Description" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox Name="Description" @bind-Value="@article.Description" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Component="SummaryArticle" Text="Summary Article" />
                </div>
                <div class="col-md-9">
                     <RadzenHtmlEditor Name="SummaryArticle" @bind-Value=@article.SummaryArticle style="height: 500px; margin-bottom: 1rem;" UploadUrl="upload/image">
                        <RadzenHtmlEditorUndo />
                        <RadzenHtmlEditorRedo />
                        <RadzenHtmlEditorSeparator />
                        <RadzenHtmlEditorBold />
                        <RadzenHtmlEditorItalic />
                        <RadzenHtmlEditorUnderline />
                        <RadzenHtmlEditorStrikeThrough />
                        <RadzenHtmlEditorSeparator />
                        <RadzenHtmlEditorColor />
                        <RadzenHtmlEditorBackground />
                        <RadzenHtmlEditorRemoveFormat />
                    </RadzenHtmlEditor>
                    @*<RadzenTextBox Name="SummaryArticle" @bind-Value="@article.SummaryArticle" />*@
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Component="KeyWords" Text="KeyWords" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox Name="KeyWords" @bind-Value="@article.KeyWords" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Component="SubHead" Text="SubHead" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox Name="SubHead" @bind-Value="@article.SubHead" />
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Component="PublishDate" Text="PublishDate" />
                </div>
                <div class="col-md-9">
                    <RadzenDatePicker @bind-Value=@article.PublishDate TValue="DateTime" ShowTime="true" ShowSeconds="true"
                                      HoursStep="1.5" MinutesStep="5" SecondsStep="10" DateFormat="MM/dd/yyyy HH:mm">
                        <FooterTemplate>
                            <RadzenButton Click=@OnTodayClick Text="Today" />
                        </FooterTemplate>
                    </RadzenDatePicker>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-3  d-flex align-items-end justify-content-center">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Style="display: inline-block; margin-left: 10px;" ButtonType="ButtonType.Button" Click=@Back Text="Back" />
                </div>
            </div>
        </RadzenFieldset>
    </div>
</RadzenTemplateForm>

@code {
    Article article = new Article();
    [Parameter]
    public long articleId { set; get; }
    private List<ArListRepositorie> Articles;
    protected async override Task OnParametersSetAsync()
    {
        article = await _client.GetArticle(articleId);
    }
    async Task UpdateArticle()
    {
        article.UserId = "string";
        var result = await _client.UpdateArticle(articleId, article);
        if (result)
        {
            uriHelper.NavigateTo("article");
        }
        else
        {
            Console.WriteLine(JsonSerializer.Serialize(article, new JsonSerializerOptions() { WriteIndented = true }));
        }
    }
    void OnTodayClick()
    {
        article.PublishDate = DateTime.Now;
    }
    void Back()
    {
        uriHelper.NavigateTo("article");
    }
}
